:root {
    --primaire: #901C1C;
    --secondaire-AA: #D3573C;
    --secondaire-AAA: #525252;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

/* Utility class */
/* .sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
} */

.mar-pad {
    margin: 0;
    padding: 0;
}

.fs-32 {
    font-size: 32px;
}

.fs-16 {
    font-size: 16px;
}

.fs-14 {
    font-size: 14px;
}

.fs-12 {
    font-size: 12px;
}
.center {
    text-align: center;
}

.photographer_header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 auto;
    max-width: 1240px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.photographer_header h1 {
    font-size: 46px;
    color: var(--secondaire-AA);
    margin: 0;
    padding: 0;
}

#main > div > div.photographer_header > div.photographer_contact > button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photographer_header .photographer_location {
    color: var(--primaire);
}

.photographer_header .photographer_portrait img {
    margin-left: 100px;
    border: 1px solid var(--primaire);
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    box-shadow: 4px 5px 5px var(--secondaire-AAA);
}

.photographer_gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 75px 25px;    
    justify-items: center;
    max-width: 1296px;
    margin: 0 auto;
}

.photographer_gallery .media-card-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.photographer_gallery .media-card-wrapper video {
    width: 350px;
    height: 350px;
    -o-object-fit: cover;
    object-fit: cover;
}

.photographer_gallery .media-card-wrapper img {
    width: 350px;
    height: 350px;
    -o-object-fit: cover;
    object-fit: cover;
}

.media-card-wrapper div {
    display: flex;
    justify-content: space-between;
} 

.media-card-wrapper span:nth-child(2) {
    color: var(--primaire);
}

#main > div > div.photographer_gallery > a > div {
    color: var(--primaire);
}

/* Modal lightbox */
.photographer_lightbox_on {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    z-index: 1000;
    overflow: hidden; 
}

body > div > button.close-btn,
body > div > button.next-btn,
body > div > button.prev-btn {    
    border: none;
    color: var(--primaire);
    background-color: transparent;
    font-size: 40px;
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    left: auto;
    right: 24.5%;
    top: 50%;
    margin: auto;
    padding: 4.5px;    
    border-radius: 20%;  
    z-index: 1001;  
}

body > div > button.close-btn:hover,
body > div > button.next-btn:hover,
body > div > button.prev-btn:hover {
    color: #FFF;
    background-color: var(--primaire);
    transition: all cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

body > div > button.prev-btn {
    transform: rotate(180deg);
    right: auto;
    left: 25.2%;
}

body > div > button.close-btn {
    position: absolute;
    /* padding: 2px 1px; */
    top: 20%;
    left: auto;
    right: 25%;    
}

body > div > div > .lightbox-wrapper {
    max-width: 1440px;
}

body > div > div > div > img,
body > div > div > div > video {
    width: 50vw;
    height: 50vh;
    max-width: 1440px;
    max-height: 810px;
    object-fit: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Modal contact */
.photographer_form {
    display: block;
}

.form-on {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 300vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, .9);
    overflow: hidden;
}

.photographer_form form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    background-color: #DB8876;   
    color: #000;
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 8px;
}

body > div.photographer_form.form-on > div > form > div.header {
    display: flex;
    flex-direction: row;
}

body > div.photographer_form.form-on > div > form > div.header > h1 {
    margin-top: 0px;
    color: #000;
    font-size: 64px;
}

body > div.photographer_form.form-on > div > form > div.header > button {
    border: none;
    width: 50px;
    height: 50px;
    color: #FFF;
    background-color: transparent;
    font-size: 64px;
}

body > div.photographer_form.form-on > div > form > div.header > button > span {
    font-size: 0;
    width: 0;
    height: 0;
}

.form-group {
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 8px;
    font-size: 32px;
}

#firstname, 
#lastname, 
#email,
#message {
    width: 100%;
    border: none;
    border-radius: 8px;
}

#firstname, 
#lastname, 
#email {
    height: 68px;
}

body > div.photographer_form.form-on > div > form > button.submit-btn {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    /* margin-top: 12px;
    height: 40px;
    background-color: #eee;
    border: 1px solid #333;
    border-radius: 8px;
    color: #333;
    transition: .4s;
    cursor: pointer; */
}

.submit-btn:hover {
    background-color: #333;
    color: #eee;
    border-color: #eee;
}

.forms-wrapper {
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    align-items: baseline;
    justify-content: space-between;
}

/* Lightbox Modal
.lightbox-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.lightbox {
    position: relative;
}

.lightbox  img {
    margin: 0;
    padding: 0;
    height: 50vh;
    width: 70vw;
    object-fit: contain;
    background-color: transparent;
}

.lightbox video {
    margin: 0;
    padding: 0;
    height: 270px;
    width: 480px;
    object-fit: cover;
    background-color: transparent;
}

.close-btn {
    position: absolute;
    bottom: 100%;
    left: 100%;
    right: 0;
    top: 0;
    transform: translateX(-50%);
    background-color: #eee;
    color: var(--primaire);
    border: 1px solid #333;
    border-radius: 8px;
    height: 50px;
    width: 50px;
    font-size: 30px;
    transition: .4s;
    cursor: pointer;
}

.slide-left-btn {
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 100%;
    transform: translateX(-50%);
    background-color: #eee;
    color: var(--primaire);
    border: 1px solid #333;
    border-radius: 8px;
    height: 50px;
    width: 50px;
    font-size: 30px;
    transition: .4s;
    cursor: pointer;
}

.slide-right-btn {
    position: absolute;
    bottom: -40px;
    left: 100%;
    right: 0;
    transform: translateX(-50%);
    background-color: #eee;
    color: var(--primaire);
    border: 1px solid #333;
    border-radius: 8px;
    height: 50px;
    width: 50px;
    font-size: 30px;
    transition: .4s;
    cursor: pointer;
}

.close-btn:hover, 
.slide-left-btn:hover,
.slide-right-btn:hover {
    background-color: var(--primaire);
    color: #eee;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
} */