@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    max-width: 1440px;
    margin: auto;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photograph-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    margin: auto;
    margin-top: 100px;
    max-width: 1440px;    
}

.photograph-section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photograph-section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.photograph-section article img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}